* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

/* categories */
.categories_container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.category {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin: 0 7px;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  text-transform: capitalize;
}
.category:hover,
.category.active {
  background-color: rgb(78, 21, 131);
  color: #fff;
}

/* products */
.title {
  text-align: center;
}
.products_container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  text-align: center;
}
.product h3 {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.product {
  flex-basis: 350px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid rgb(201, 201, 211);
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
}
.product .image {
  height: 60%;
  width: 60%;
  margin: auto;
  object-fit: contain;
}

/* loading page  */
.loading , 
.error {
  position: relative;
  width: 70%;
  height: 100vh;
  margin: auto;
  text-align: center;
}
.loading img ,
.error img {
  width: 300px;
}
.loading h2 ,
.error h2 {
  font-size: 30px;
  letter-spacing: 1px;
}

/* product details  */
.details-Container {
  display: flex;
  width: 70%;
  margin: 70px auto;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.details-Container .left {
  flex-basis: 35%;
  text-align: center;
  justify-items: center;
  padding: 50px;
}
.details-Container .right {
  flex-basis: 65%;
}
.left .product-image {
  width: 100%;
  margin: auto;
}
.right h1 {
  margin-bottom: 30px;
}
.right h2 {
  text-transform: capitalize;
}
.right p {
  font-size: 22px;
  line-height: 1.7;
}
.right p::first-letter {
  text-transform: uppercase;
}
.right h4 {
  font-size: 20px;
}

/* media query */
@media (max-width:  768px) { 
  .category_container {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
  } 
  .category {
    padding: 8px;
    font-size: 17px;
    width: 180px;
    margin-bottom: 30px;
  }

  /* product details */
  .details-Container {
    display: block;
    width: 80%;
  }
  .details-Container .right {
    padding: 10px;
  }
  .left .product-image {
    width: 60%;
    margin: auto;
  }
  .right h1 {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .right h2 {
    font-size: 20px;
  }
  .right p {
    font-size: 20px;
  }
  .right h4 {
    font-size: 18px;
  }
}

@media (min-width: 769px)and (max-width: 849px) { 
  .category {
    font-size: 18px;
  }
    /* product details */
    .details-Container {
      display: block;
      width: 80%;
    }
    .details-Container .right {
      padding: 10px 30px;
    }
    .left .product-image {
      width: 50%;
      margin: auto;
    }
    .right h1 {
      margin-bottom: 30px;
      font-size: 28px;
    }
    .right h2 {
      font-size: 22px;
    }
    .right p {
      font-size: 20px;
    }
    .right h4 {
      font-size: 20px;
    }
}

@media (min-width: 850px)and (max-width: 1199px) {
  /* product details */
  .details-Container {
    width: 90%;
  }
  .details-Container .right {
    padding: 10px 30px;
  }
  .left .product-image {
    width: 70%;
    margin: auto;
  }
  .right h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .right h2 {
    font-size: 24px;
  }
  .right p {
    font-size: 22px;
  }

  .right h4 {
    font-size: 22px;
  }
}
